.App {
  text-align: center;
}

button{
  background-color: transparent;
  border: 2px solid #fff; 
  color: #fff;
  padding: 15px 25px;
  max-width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top: clamp(35px, 3.5vh, 100px);
}

button:hover {
  background-color: rgba(40,116,240, 0.7); 
  color: white;
}

img{
  max-height: 45px;
  position: relative;
  bottom: 80px;
  opacity: 0.9;
}

.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.userinput{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

