.App {
  text-align: center;
}

button{
  background-color: transparent;
  border: 2px solid #fff; 
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top: clamp(35px, 3.5vh, 100px);
}

button:hover {
  background-color: #2874F0; 
  color: white;
}

img{
  max-height: 45px;
  position: relative;
  bottom: 80px;
  opacity: 0.9;
}